.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
    max-width: 456px;
    color: #FFF;
    margin: 0 auto;
    padding: 0 auto;
}
.place__link:hover {
    opacity: 0.8;
}