.place {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content));
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "title url"
    "image paragraph";
    row-gap: 48px;
    column-gap: 20px;
    
}
@media (max-width:320px) {
    .place {
        display: grid;
        grid-template-areas: 
        "title" 
        "url"
        "image" 
        "paragraph";
        column-gap: 20px; 
    }
}