.header__lang-link {
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: none;
    max-width: 30px;
}
@media (max-width:767px) {
    .header__lang-link {
        color: #FFF;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        max-width: 22px;
    }
}